.idk-section {
  color: #fff;
  padding: 160px 0;
  height: 350px;
  text-shadow: black 2px 2px 5px;
}

.idk_container {
  display: grid;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
  margin-top: -2.8%;
}

.idk_row {
  align-items: center;
}

.idk_row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.idk_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 100%;
  flex-basis: 50%;
}

.idk_text-wrapper {
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 60px;
}

.idk_top-line {
  color: #fff;
  font-size: 22px;
  line-height: 16px;
  font-weight: 750;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.idk_heading {
  margin-bottom: 24px;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 600;
  color: #1c2237;
}

.idk_dark {
  color: #fff;
}

.idk_darkBg {
  background-image: url('../../images/banners/BannerIDK.jpg');
}

.idk_subtitle {
  max-width: 450px;
  margin-bottom: 32px;
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .idk_container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .idk_text-wrapper {
    padding-bottom: 65px;
  }

  .idk_col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
/*sss*/
