.mob-section {
  color: #fff;
  padding: 160px 0;
  height: 350px;
  text-shadow: black 2px 2px 5px;
  font-weight:bold;
  word-break:keep-all;
}

.mob_container {
  display: grid;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-right: 55%;
  margin-top: -2.8%;
}

.mob_row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}

.mob_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 100%;
  flex-basis: 50%;
}

.mob_text-wrapper {
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 60px;
}

.mob_top-line {
  color: #fff;
  font-size: 22px;
  line-height: 16px;
  font-weight: 750;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.mob_heading {
  margin-bottom: 24px;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
}

.mob_dark {
  color: #fff;
}

.mob_darkBg {
  background-image: url("../../images/banners/BannerMobile.jpg");
}

.mob_subtitle {
  max-width: 440px;
  margin-bottom: 32px;
  font-size: 1.4rem;
  line-height: 1.1;
}

@media screen and (max-width: 991px) {
  .mob_container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  .mob_text-wrapper {
    padding-bottom: 65px;
  }

  .mob_col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .mob_subtitle {
    width: 400px;
    margin-left: 33%;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #fff;
  }

  .mob_heading {
    width: 400px;
    margin-left: 33%;
    margin-bottom: 24px;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 600;
    color: #fff;
  }
}
/*ssss*/
